* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-header {
  background-color: #ca4fc0;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.flex-header > div {
  background-color: rgb(210, 163, 219);
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
}

.flex-header > div:first-child {
  margin-right: auto;
}

.flex-main {
  background-color: darkgray;
  display: flex;
  justify-content: center;
}

.flex-main-left {
  background-color: rgb(202, 241, 228);
  flex-basis: 300px;
}

.flex-main-right {
  background-color: rgb(36, 143, 36);
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.flex-main-right > div {
  background-color: rgb(245, 245, 67);
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.flex-footer {
  background-color: rgb(112, 166, 218);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-footer > div {
  background-color: rgb(198, 220, 238);
  height: 40px;
  margin: 10px;
  flex-basis: 45%;
  max-width: 600px;
}
